<h3>License Usage</h3>
<p>On {{ ansible_date_time.date }} at {{ ansible_date_time.time }} {{ ansible_date_time.tz }} (servertime) <em>{{ email_company }}</em> has assigned <b>{{ ghe_license.json.seats_used }}</b> seats of their <em>{{ ghe_license.json.seats }}</em> available.</p>

<p><em>{{ ghe_license.json.seats_available }}</em> seats remaining.</p>

<h3>Expiration</h3>
<p>License will expire in {{ expire_days }} days <em>({{ expire_at }})</em>.</p>
